<div class="row my-2">
  <div class="col-color"></div>
  <div class="col">
    <div class="row">
      <div class="col-7">
        <h4>Nombre</h4>
      </div>
      <div class="col-5">
        <p>Desarrollador Front-End 2013-Actual</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Desarrollo Smart TV, administrador y creador de contenido de la comunidad de desarrolladores Samsung Smart TV.
Desarrollo y diseño web, creación de temas y plugins para WordPress. Desarrollo Mobile Ionic y Phonegaph. Desarrollo MEAN Stack.</p>
      </div>
    </div>
  </div>
</div>
