<div class="container">
  <div class="row" *ngIf="cvInfo$ | async as cv">
    <div class="col-12 col-md-8 py-5">
      <h1>{{cv.personal.nombre}}</h1>

      <div class="cv-black-boxes-wrapper">
        <div class="cv-black-box" *ngFor="let escuela of cv.educacion">
          <p class="text-lvl1 subtitle">{{escuela.escuela}}</p>
          <p class="text-lvl1 subtitle">{{escuela.lugar}}</p>
          <p class="text-lvl2 title"><strong>{{escuela.titulo}}</strong></p>
          <p class="text-lvl2">Cédula {{escuela.cedula}}</p>
        </div>
      </div>

      <cv-time-circle 
        [educacion]="cv.educacion" 
        [freelances]="cv.freelances"
        [experienciaLaboral]="cv.experienciaLaboral"></cv-time-circle>

      <p class="text-lvl1 title">Experiencia Laboral</p>

    
      <div class="row my-3" *ngFor="let trabajo of cv.experienciaLaboral">
        <div class="col-color" [style.background]="trabajo.color"></div>
        <div class="col">
          <div class="row">
            <div class="col-7">
              <p class="text-lvl1 title">{{ trabajo.nombre }}</p>
            </div>
            <div class="col-5 text-right">
              <p class="text-lvl1 subtitle">{{ trabajo.puesto }} {{ trabajo.inicio | date:'y' }}-{{ trabajo.final | date:'y' }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="text-lvl2">{{ trabajo.descripcion }}</p>
            </div>
          </div>
        </div>
      </div>
    

      <p class="text-lvl1 title">Freelance / Proyectos Personales</p>
      
      <div class="row my-3" *ngFor="let freelance of cv.freelances">
        <div class="col-color" [style.background]="freelance.color"></div>
        <div class="col">
          <div class="row">
            <div class="col-12">
              <p class="text-lvl1 title">{{ freelance.nombre }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <p class="text-lvl2">{{ freelance.descripcion }}</p>
            </div>
          </div>
        </div>
      </div>
    

    </div>
    <div class="col-12 col-md-4 py-5 bg-light">
      <h5 class="py-2">{{cv.personal.puesto}}</h5>
      <p class="text-lvl1">35 años</p>
      <p class="text-lvl1"><a [href]="'tel:521' + cv.personal.telefono">{{cv.personal.telefono}}</a></p>
      <p class="text-lvl1">{{cv.personal.residencia}}</p>
      <p class="text-lvl1"><a [href]="'mailto:'+ cv.personal.email">{{cv.personal.email}}</a></p>
      <br>
      <p class="text-lvl2">{{cv.personal.presentacion}}</p>
      <br>
      <p class="text-lvl2">{{cv.personal.resumen}}</p>
      <br>
      <p class="text-lvl1 title">Idiomas</p>
      <p class="text-lvl2" *ngFor="let idioma of cv.personal.idiomas">
        <strong>{{idioma.nombre}}</strong>: {{idioma.nivel}}
      </p>
      <br>

      <div class="mb-4" *ngFor="let habilidad of cv.habilidades">
        <p class="text-lvl1 title">{{habilidad.nombre}}</p>


        <div *ngFor="let skill of habilidad.skills">
          <div class="row" *ngIf="skill.porcentaje > 0">
            <div class="col-4 pr-1">
              <p class="text-lvl2">{{skill.nombre}}</p>
            </div>
            <div class="col-7 px-1">
              <div class="progress">
                <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="skill.porcentaje" aria-valuemin="0" aria-valuemax="100" [style.width.%]="skill.porcentaje">
                </div>
              </div>
            </div>
            <div class="col-1 pl-1">
                <p class="text-lvl3">{{skill.porcentaje}}%</p>
              </div>
          </div>
          <p class="text-lvl2" *ngIf="skill.porcentaje == 0">{{skill.nombre}}</p>
          <div *ngFor="let subskill of skill.skills">
            <div class="row">
              <div class="col-4 pl-4 pr-1">
                <p class="text-lvl2">{{subskill.nombre}}</p>
              </div>
              <div class="col-7 px-1">
                <div class="progress" *ngIf="subskill.porcentaje > 0">
                  <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="subskill.porcentaje" aria-valuemin="0" aria-valuemax="100" [style.width.%]="subskill.porcentaje">
                  </div>
                </div>
              </div>
              <div class="col-1 pl-1">
                <p class="text-lvl3">{{subskill.porcentaje}}%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
