<div class="container-xxl px-4">
  <div class="row" *ngIf="cvInfo$ | async as cv">
    <div class="col-career col-12 col-md-8 py-5">
      <div class="row mb-4">
        <div class="col-12 col-md-8">
          <h1 class="h2">{{cv.profile.name}}</h1>
          <h5 class="py-1">{{cv.profile.position}}</h5>
          <div class="d-grid gap-2 d-md-block d-print-none">
            <a 
              [download]="'CV_Osiel_Hernandez_2024_'+locale" 
              target="_blank"
              [href]="'/assets/CV_Osiel_Hernandez_2024_'+locale+'.pdf'"
              class="btn btn-info btn-sm lh-1 me-1">{{'Descargar' | translate}}</a>
            <button 
              type="button" 
              class="btn btn-secondary btn-sm lh-1"
              (click)="toggleLanguage()">{{'i18n_button' | translate}}</button>
          </div>
        </div>
        <div class="col-12 col-md-4 text-md-end">
          <p class="text-lvl1 my-0">{{ 'Edad' | translate: {value: edad} }}</p>
          <p class="text-lvl1 my-0"><a class="link-effect1" [href]="'tel:+52' + cv.profile.phone">{{cv.profile.phone}}</a></p>
          <p class="text-lvl1 my-0">{{cv.profile.location}}</p>
          <p class="text-lvl1 my-0"><a class="link-effect1" [href]="'mailto:'+ cv.profile.email">{{cv.profile.email}}</a></p>
        </div>
      </div>

      <p class="text-lvl1 mb-4">{{cv.profile.summary}}</p>
      
      <p class="text-lvl1 title mb-4">{{ 'Experiencia Laboral' | translate }}</p>
      
      @for(job of cv.jobs; track job) {
        <div class="row mt-2 mb-4" [ngClass]="{'d-print-none': !job.printable }">
          <div class="col-color" [style.background]="job.color"></div>
          <section class="col">
            <div class="d-flex justify-content-between align-items-end mb-1">
              <div class="flex-shrink-1 w-50">
                <p class="text-lvl1 title">{{ job.name }}</p>
              </div>
              <div class="text-end flex-grow-1">
                <p class="text-lvl1 subtitle">{{ job.position }} {{ job.start | date:'y' }} - {{ job.end | date:'y' }}</p>
              </div>
            </div>
            @if (job.description) {
              <div class="row">
                <div class="col-12">
                  <p class="text-lvl2">{{ job.description }}</p>
                </div>
              </div>
            }
            @for (project of job.projects; track project) {
              <div class="row">
                <div class="col-7">
                  <p class="text-lvl1 subtitle my-1">{{ project.name }}</p>
                </div>
                <div class="col-5 text-end">
                  <p class="text-lvl1 subtitle ">{{ project.start | date:'MMM. y':undefined:locale }} - {{ project.end | date:'MMM. y':undefined:locale }}</p>
                </div>
              </div>
              @for (task of project.tasks; track task) {
                <div class="row">
                  <div class="col-12">
                    @for (paragraph of task.children; track paragraph) {
                      <p class="text-lvl2">{{ paragraph.text }}</p>
                    }
                  </div>
                </div>
              }
            }
            <div class="row mt-1">
              <div class="col text-md-end">
                <span 
                  *ngFor="let technology of job.technologies" 
                  class="badge rounded-pill ms-1"
                  [style.background]="job.color">{{ technology.name }}</span>
              </div>
            </div>
          </section>
        </div>
      }
      
      <p class="text-lvl1 title mb-4">{{'Freelance' | translate}}</p>
      
      @for(freelance of cv.freelances; track freelance) {
        <div class="row mt-2 mb-4" [ngClass]="{'d-print-none': !freelance.printable}">
          <div class="col-color" [style.background]="freelance.color"></div>
          <div class="col">
            <div class="row">
              <div class="col-12">
                <p class="text-lvl1 title">{{ freelance.name }}</p>
              </div>
            </div>
            @for (description of freelance.description; track description) {
              <div class="row">
                <div class="col-12">
                  @for (paragraph of description.children; track paragraph) {
                    <p class="text-lvl2">{{ paragraph.text }}</p>
                  }
                </div>
              </div>
            }
            <div class="row">
              <div class="col text-md-end">
                <span 
                  *ngFor="let technology of freelance.technologies" 
                  class="badge rounded-pill ms-1"
                  [style.background]="freelance.color">{{ technology.name }}</span>
              </div>
            </div>
          </div>
        </div>
      }

      <p class="text-lvl1 title mb-4">{{'Educación' | translate}}</p>
      
      <div class="row mt-2 mb-4" style="margin-left: -1.5rem;">
        @for(school of cv.education; track school) {
          <div class="col-6 d-flex">
            <div class="col-color me-2" [style.background]="school.color"></div>
            <div>
              <p class="text-lvl1 title">{{school.school}}</p>
              <p class="text-lvl1 subtitle">{{school.location}}</p>
              <p class="text-lvl2 title"><strong>{{school.title}}</strong></p>
              <p class="text-lvl2">{{ 'Cedula' | translate: { value: school.certificate} }}</p>
            </div>
          </div>
        }
      </div>
    </div>

    <div class="col-stats col-12 col-md-4 py-5 bg-light d-print-none">
      <cv-time-circle 
        [education]="cv.education" 
        [freelances]="cv.freelances"
        [jobs]="cv.jobs">
      </cv-time-circle>
      <br>
      <br>
      <p class="text-lvl2">{{cv.profile.aboutme}}</p>
      <br>
      <p class="text-lvl1 title">Idiomas</p>
      <p class="text-lvl2" *ngFor="let lang of cv.profile.languages">
        <strong>{{lang.language | translate}}</strong>: {{lang.level | translate}}
      </p>
      <br>

      <div class="mb-4" *ngFor="let skills of cv.skills">
        <p class="text-lvl1 title">{{skills.name}}</p>

        <div *ngFor="let skill of skills.skills">
          <div class="row" *ngIf="skill.percentage > 0">
            <div class="col-4 pr-1">
              <p class="text-lvl3">{{skill.name}}</p>
            </div>
            <div class="col-7 px-1">
              <div class="progress">
                <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="skill.percentage" aria-valuemin="0" aria-valuemax="100" [style.width.%]="skill.percentage">
                </div>
              </div>
            </div>
            <div class="col-1 pl-1">
                <p class="text-lvl4">{{skill.percentage}}%</p>
              </div>
          </div>
          <p class="text-lvl3" *ngIf="skill.percentage == 0">{{skill.name}}</p>
          <div *ngFor="let subskill of skill.skills">
            <div class="row">
              <div class="col-4 pl-4 pr-1">
                <p class="text-lvl3">{{subskill.name}}</p>
              </div>
              <div class="col-7 px-1">
                <div class="progress" *ngIf="subskill.percentage > 0">
                  <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="subskill.percentage" aria-valuemin="0" aria-valuemax="100" [style.width.%]="subskill.percentage">
                  </div>
                </div>
              </div>
              <div class="col-1 pl-1">
                <p class="text-lvl4">{{subskill.percentage}}%</p>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
