@import "bootstrap";

:root {
  --bs-font-sans-serif: "Open Sans", sans-serif !important;
}

body {
  font-family: var(--bs-font-sans-serif);
}

#elCanvas {
  margin: auto;
  width: 100%;
  height: auto;
}

h1, h4, h5 {
  font-weight: 600;
}

a.link-effect1 {
  text-decoration: none;
  color: #18272F;
  font-weight: 600;
  position: relative;
  &::before {
    content: '';
    background-color: rgba(#96C1E0, 0.5);
    position: absolute;
    left: 0;
    bottom: 2px;
    width: 100%;
    height: 8px;
    z-index: -1;
    transition: all .15s ease-in-out;
  }
  &:hover::before {
    bottom: 0;
    height: 100%;
  }
}

p.text-lvl1 {
  font-size: 1.15rem;
  font-weight: 300;
  margin: 0;
  &.title {
    font-weight: 400;
  }
  &.subtitle {
    font-size: 0.95rem;
    font-weight: 400;
  }
}
p.text-lvl2 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
  &.title {
    font-weight: 400;
  }
}

p.text-lvl3 {
  font-size: 0.85rem;
  font-weight: 300;
  margin: 0;
  margin-top: 4px;
}

p.text-lvl4 {
  font-size: 0.65rem;
  font-weight: 300;
  margin: 0;
  margin-top: 2px;
}

.progress {
  overflow: visible;
  margin-top: 10px;
  height: 3px !important;
  border-radius: 0 !important;
  background-color: transparent !important;
  .progress-bar {
    background-color: #999999;
    border-radius: 0px;
    margin-left: auto;
  }
}

.col-color {
  width: 0.5rem !important;
  background-color: black;
  padding: 0 !important;
}

.cv-black-boxes-wrapper {
  position: absolute; 
  width: 100%;
  left: 42.5%;
  top: 125px;
}

.cv-black-box {
  max-width: 300px;
  padding: 10px;
  margin: 5px;
  background-color: black;
  color:  white;
  display: block;
}


@media print {
  html {
    font-size: 62.5%;
    margin: 0.15in 0.35in 0.25in 0.35in;
  }
  @page {
    size: 8.5in 15in;
  }
  .col-color, .progress-bar, .badge {
    print-color-adjust: exact;
  }
  .col-career {
    width: 100% !important;
  }
} 